 <!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}


<div class="container">
  <h1>A Detailed Summary of Life</h1>
  <h4>Why wait to start my new life? <i> Some birds are not meant to be caged, their feathers are just too bright.  </i></h4>
    <ul class="timeline">
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Nov,2001: The Miracle of Birth</summary>
            <p><strong>Patient:</strong> Is it a boy or a girl?<br><br>
<strong>Obstetrician:</strong> Now, I think I am a girl.</p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Sep 2016 to Jul 2019: Studied at No.7 High School</summary>
            <p> Interested in Biology and Physics. Won the third prize in China High School Biology Olympiad and the second prize in China High School Physics Olympiad in Sichuan Province without any specific training. </p>
          </details>
        </li>
     <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Jul 2018: First GaoKao and First Failure </summary>
            <p>Still grateful to the opportunity offered by University of Science and Technology, China. Ranked 5000+ in Sichuan Province but did not pass the test for gifted young held by USTC. Realized that I might not be goot at physics and math. </p>
          </details>
        </li>
     
       <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Sep 2019: Entered into Renmin University of China (RUC) with major in statistics</summary>
            <p> A totally new journey with amazing new subject regarding to randomness and probability. </p>
          </details>
        </li>
     
     <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Jan 2020: Second failure: Got 64 in Higher Algebra I Final </summary>
            <p> Depressed and started to think about transferring to another major.  </p>
          </details>
        </li>
     
     <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Jan 2020: The Outbreak of Covid-19 </summary>
            <p> Gained 4 kilograms because of laziness and eating. Depressed because of lockdown. Realized that life is so transient.  </p>
          </details>
        </li>
       <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Jan 2020: The Outbreak of Covid-19 </summary>
            <p> Gained 4 kilograms because of laziness and eating (the maximum weight is 68 kg). Depressed because of lockdown. Realized that life is so transient.  </p>
          </details>
        </li>
     li>
       <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>May 2020 to Aug 2020: Lose Weight by Punction Therapy And Use OK Glass to Cure Eyesight </summary>
            <p> Lost 12 kilograms. Had 5.0 eyesight during daytime. Felt the world is much better.  </p>
          </details>
        </li>
     
       <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Feb 2021: Third Failure: Be a Research Assistant For a Postdoc Doing Much Tedious Work Without Any Payment </summary>
            <p> Quitted at Aug 2021. Realized people have to do something that is meaning and they are interested in. Also, payment is the least reward. </p>
          </details>
        </li>
     
     
      <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>May 2021 to Aug 2021: Research At LISA Lab Hosted by Prof.Xu at RUC </summary>
            <p> Handled my first research project independently. Much effort is paied into it.  </p>
          </details>
        </li>
     
     
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Feb 2022: Started my first research project in the U.S. </summary>
            <p>Here is better than home, eh, sir? I mean, at home if you kill someone they arrest you — here they'll give you a gun and show you what to do, sir. I mean, I killed fifteen of those buggers. Now, at home they'd hang me — here they'll give me a fucking medal, sir!</p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Middle Age</summary>
            <p>It's real Hawaiian food served in an authentic medieval English dungeon atmosphere.</p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Live Organ Transplants</summary>
            <p>Yeah, I know what it is, but...I'm using it!</p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon working"></div>
          <details class="panel">
            <summary>Oct.22 2022: Applying to Ph.D. programs</summary>
            <p> Take much time, effort and patience. It is difficult to start something new. Just be patient and self-motivated. The best is yet to come.</p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon"></div>
          <details class="panel">
            <summary>Future:Choice of career</summary>
            <p>Academia or Industry? I vote for academia now.</p>
          </details>
        </li>
      
    </ul>
</div>
    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>

