 <!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}


<div class="container">
  <h1>A Detailed Summary of Life</h1>
  <h4>Why wait to start my new life? <i> Some birds are not meant to be caged, their feathers are just too bright.  </i></h4>
    <ul class="timeline">
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Nov 2001: The Miracle of Birth</summary>
            <p><strong>Patient:</strong> Is it a boy or a girl?<br><br>
<strong>Obstetrician:</strong> Now, I think I am a girl in a kind family. This is my treasure and fortune.</p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Sep 2016 to Jul 2019: Studied at No.7 High School</summary>
            <p> Interested in Biology and Physics. Won the third prize in China High School Biology Olympiad and the second prize in China High School Physics Olympiad in Sichuan Province. </p>
          </details>
        </li>
     <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Jul 2018: First GaoKao and First Failure </summary>
            <p> Still grateful to the opportunity offered by USTC, China </a>. Ranked 5000+ in Sichuan Province but did not pass the test for gifted young held by USTC. Realized that I might not be good at physics and math. </p>
          </details>
        </li>
     
       <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Sep 2019: Entered into Renmin University of China (RUC) with major in Statistics </summary>
            <p> A new journey with an amazing new subject regarding randomness and probability. </p>
          </details>
        </li>
     
     <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Jan 2020: Second failure: Got 64 points in Higher Algebra I Final Exam </summary>
            <p> Finally got 80 points--the square root of 64 times 10. Depressed and started to think about transferring to another major.  </p>
          </details>
        </li>
     
    
       <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary> Jan 2020: The Outbreak of Covid-19 </summary>
            <p> Historical moment. Gained 4 kilograms because of laziness and eating (the maximum weight is 68 kg). Depressed because of lockdown. Realized that life is so transient.  </p>
          </details>
        </li>

       <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary> May 2020 to Aug 2020: Lose Weight by Punction Therapy And Use OK Glass to Cure Eyesight </summary>
            <p> Lost 12 kilograms. Had 5.2 eyesight during daytime without wearing glasses. Feeling the world is much better.  </p>
          </details>
        </li>
     

      <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary> May 2021 to Aug 2021: Research At <a href="http://lisa.ruc.edu.cn/"> LISA Lab </a> Hosted by Prof. Wei Xu at RUC </summary>
            <p> Handled my first research project independently. Much effort was paied into it. My research interest changed to Information System.  </p>
          </details>
        </li>
     
     <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary> Jul 2021 to Aug 2021: Summer School </summary>
            <p>  Attended summer school held by RUC and Statistical Center, Peking University. Great thanks to <strong> Prof. Weijie Su </strong> and <strong> Prof. Yuling Jiao's </strong> introduction to statistical learning and high dimensional statistics. They are very active and professional researchers! I started to think about going further in statistics.   </p>
          </details>
        </li>
     
     
      <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Sep 2021 to Jan 2022: Exchange Student at the University of Hong Kong </summary>
           <p> Became a research assistant for <strong> Prof. Tuan </strong> and <strong> Prof. Ivy Dang </strong>. Became a research assistant for <strong> Prof. Dan Yang </strong> and <strong> Prof. Haipeng Shen </strong>. The first group focuses on quantitative marketing and information systems. The second group focuses on genes and statistics. They want to solve statistical genomics problems with a unique dataset from a hospital. Although this project failed, my research interest changed to statistical genomics/biostatistics.  </p>
          </details>
        </li>
     
     <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary> Dec 2021 - June 2022: Undergraduate Research Program at RUC </summary>
            <p> I am guided by my class instructor <a href="http://stat.ruc.edu.cn/jxtd/jsdw/sltjx/277bcf3bfc3e40ef9c2af1ab0bbbb458.htm"> Prof. Yifan Sun </a>. She is patient. We focus on subgroup analysis and want to propose a more general algorithm under less assumptions. This work will soon be finished 2023. </p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary>Feb 2022 - present: Started my first research project and my graduation thesis at UC Berkeley </summary>
            <p> I am exteremely fortunate to be guided by <a href="https://sites.google.com/berkeley.edu/jingshenwang/home"> Prof. Jingshen Wang </a> at Division of Biostatistics, UC Berkeley. She is an excellent advisor. I learned to be as rigorous as her in research.</p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary> May 2022 - Sep 2022: Research Intern at Harvard University </summary>
            <p> So lucky to have opportunity to study at <a href="https://sites.harvard.edu/junliu/"> Prof. Jun S. Liu 's lab  </a> at Department of Statistics, Harvard Univeristy. I became interested in Computational Biology and Causal Inference. Jun is very talented and kind. I also met good alumni Xiaodong and friends Beining and Yuanchuan from USTC. They are gifted rising stars in statistics and helped me much in my application school list and application.</p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary> Jul 2022 - present: Research Intern at UC Los Angeles </summary>
            <p> I began working on bioinformatics and statistical genomics at <a href="http://jsb.ucla.edu/"> Prof. Jingyi Jessica Li's lab JSB </a>  at Department of Statistics, UC Los Angeles and am advised by <a href="http://jsb.ucla.edu/people/xinzhou-ge"> Dr. Xinzhou Ge </a>. I also worked together with Zhengtong from UCLA on the project. This project opens a door for me to Bioinformatics. </p>
          </details>
        </li>
      
        <li class="timeline">
          <div class="icon done"></div>
          <details class="panel">
            <summary> Oct.22, 2022 - Feb.22, 2023: Applying to Ph.D. Programs in the United States and Application Results </summary>
            <p> Take much time, effort, and patience. It is difficult to start something new. Just be patient and self-motivated. The best is yet to come.
         I got offers from <strong> Biostatistics MS Thesis program at University of Washington, Seattle </strong>, <strong> Biostatistics MA/PhD program at UC Berkeley </strong>, <strong> Biostatistics PhD program at University of Michigan, Ann Arbor </strong>, and <strong> Statistics PhD program at Rutgers University </strong>. 
         Feeling so honored and surprised. I finally accepted an offer from UC Berkeley.</p>
          </details>
        </li>
      
         <li class="timeline">
          <div class="icon working"></div>
          <details class="panel">
            <summary> Preparing for Graduation </summary>
            <p> I am working on my thesis for MVMR and news-induced financial data analysis using Machine Learning. </p>
          </details>
        </li>
     
        <li class="timeline">
          <div class="icon"></div>
          <details class="panel">
            <summary> Future: Choice of career </summary>
            <p> Academia or Industry? I vote for academia now. Hope I can get AP offers in the United States.</p>
          </details>
        </li>
      
    </ul>
</div>
    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>

